<!doctype html>
<html>
  <head>
    {% block head %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% block additionalScripts %}{% endblock %}
    {% endblock %}
  </head>
  <body class="bg-gray-200">
    {% include "navbar.html.twig" %}
    {% block body %}{% endblock %}
    {% include "footer.html.twig" %}
</body>
</html>