{% extends "base.html.twig" %}

{% block title %}
Homepage
{% endblock %}

{% block body %}

<div class="w-full m-8">
	<div class="max-w-sm rounded overflow-hidden shadow-lg mr-8">
	  <div class="px-6 py-4">
	    <div class="font-bold text-xl mb-2 inline-block mr-32">Welcome back!</div>
	    {% include "security/login.html.twig" %}
	  </div>
	</div>
</div>

{{ phpinfo }}

{% endblock %}